@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logo-3d-wrapper {
  width: 100%;
  max-width: 18rem;
  aspect-ratio: 1;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  animation: spin 12s linear infinite;
  cursor: pointer;

  transition: transform 0.5s ease;

  &:hover {
    animation-play-state: paused;
  }
}

.logo-layer {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(var(--z));
  // filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1)); // Cause of lag
}
