<div class="logo-3d-wrapper" id="videoThumbnail" (click)="handleClick()">
  <img src="assets/icons/hytecpowerinc-logo.png" class="logo-layer" style="--z: -4px" alt="" />
  <img src="assets/icons/hytecpowerinc-logo.png" class="logo-layer" style="--z: -3px" alt="" />
  <img src="assets/icons/hytecpowerinc-logo.png" class="logo-layer" style="--z: -2px" alt="" />
  <img src="assets/icons/hytecpowerinc-logo.png" class="logo-layer" style="--z: -1px" alt="" />
  <img
    src="assets/icons/hytecpowerinc-logo.png"
    class="logo-layer"
    style="--z: 0px"
    alt="Company Logo"
  />
  <img src="assets/icons/hytecpowerinc-logo.png" class="logo-layer" style="--z: 1px" alt="" />
  <img src="assets/icons/hytecpowerinc-logo.png" class="logo-layer" style="--z: 2px" alt="" />
  <img src="assets/icons/hytecpowerinc-logo.png" class="logo-layer" style="--z: 3px" alt="" />
  <img src="assets/icons/hytecpowerinc-logo.png" class="logo-layer" style="--z: 4px" alt="" />
</div>
