<title-badge title="Awards and Achievements"></title-badge>
<p class="text-md about_us-subtitle">Our significant excellence in industry and academe fields.</p>
<container-box variant="dark" class="awards-container">
  <div class="awards-content-layout">
    <div class="main-container">
      <div class="image-container">
        <img src="assets/images/aboutus/awards/philippine-social-award.png" alt="" />
        <img src="assets/images/aboutus/awards/mosliv-award.png" alt="" />
      </div>
      <div class="image-container">
        <img src="assets/images/aboutus/awards/world-class-philippines.png" alt="" />
        <img src="assets/images/aboutus/awards/global-award.png" alt="" />
      </div>
      <div class="image-container">
        <img src="assets/images/aboutus/awards/best-choice-award.png" alt="" />
        <img src="assets/images/aboutus/awards/golden-global-award.png" alt="" />
      </div>
      <div class="image-container">
        <img src="assets/images/aboutus/awards/asia-ceo-award.png" alt="" />
        <img src="assets/images/aboutus/awards/legacy-award.png" alt="" />
      </div>
      <div class="image-container">
        <img src="assets/images/aboutus/awards/nb&mosliv-award.png" alt="" />
        <img src="assets/images/aboutus/awards/top-3000.png" alt="" />
      </div>
    </div>
    <p class="text-md">
      Hytec Power Incorporated was recognized as a "Top Innovative Brand" by the Premiere Brand Asia
      Awards. Additionally, President and CEO Engr. Eric Jude S. Soliman received the "Top Brand
      Builder & Entrepreneur of the Year" award. These distinctions honor Hytec Power's success as
      the Philippines' leading provider of industrial and educational solutions.
    </p>
  </div>
</container-box>

<title-badge title="TV Appearances"></title-badge>
<p class="text-md about_us-subtitle">
  Appearances at Umagang Kay Ganda, AHA!, Good Morning Dub and Suit Up!
</p>

<div class="appearance">
  <div class="image-section">
    <img src="assets/images/aboutus/awards/image-1.png" alt="" />
    <div class="image-container">
      <img src="assets/images/aboutus/awards/image-2.png" alt="" />
      <img src="assets/images/aboutus/awards/image-4.png" alt="" />
    </div>
    <div class="image-container">
      <img src="assets/images/aboutus/awards/image-3.png" alt="" />
      <img src="assets/images/aboutus/awards/image-5.png" alt="" />
    </div>
  </div>
</div>
