section {
  background-color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .container-header {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .section-heading {
  text-align: center;
  color: #F4F4F4;
  font-size: 3.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section .container-header .section-sub-heading {
  text-align: center;
  color: #F4F4F4;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section .container {
  background: linear-gradient(to bottom, rgba(237, 28, 36, 0.1), rgba(237, 28, 36, 0.10));
  border: 1px solid rgba(237, 28, 36, 0.50);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin: 0 9.375rem;
  padding: 4rem 7.5rem;
  justify-items: center;
  width: 84%;
  transform: translateY(-4rem);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/solutions/industrial/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background: linear-gradient(to bottom, transparent, #000);
  pointer-events: none;
}

.hero-text {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 50;
  transform: translateY(-6.5rem);

  & .sub-heading, & .sub-heading {
    position: relative;
    z-index: 50;
  }
}

.hero-text .heading h1 {
  font-size: 6.25rem;
  background: linear-gradient(to bottom, #DBDBDB, #A9A9A9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 50;
  font-weight: 300;
  margin-bottom: 0;
}

.hero-text .sub-heading h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.375rem;
  background: linear-gradient(to bottom, #DBDBDB, #A9A9A9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 50;
}


/* OUR EXPERTISE */

.expertise-tile {
  display: flex;
  color: #F4F4F4;
  gap: 2rem;
  align-items: center;
}

.expertise-tile:nth-child(odd) {
  flex-direction: row-reverse;
}

.expertise-tile img {
  width: 50%;
}

.expertise-tile .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;

  & h1 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  & .hr {
    width: 100%;
    height: 1px;
    background-color: #A9A9A9;
  }

  & p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
  }

  & .button-container {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

.expertise-tile .content button {
  background-color: rgba(244, 244, 244, 0.10);
  border: 1px solid #F4F4F4;
  padding: 0.5rem 1rem;
  color: #F4F4F4;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


/* INDUSTRY 4.0 WEBINARS */
.industry-webinars {
  transform: translateY(0);
  margin-top: 1rem;
}

.industry-webinars .container .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.75rem;
  row-gap: 3.75rem;
}

.industry-webinars .container .cards-container .card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;

  & img {
    width: 100%;
  }

  & .content {
    display: flex;
    flex-direction: column;
    color: #F4F4F4;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
  }

  & .content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
  }

  & .content .hr {
    width: 100%;
    height: 1px;
    background-color: #A9A9A9;
  }

  & .content p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
  }
}

/* OUR SERVICES */
.our-services {
margin: 4rem 0;
}
.our-services .container {
  margin: 4rem 0;
  padding: 4rem 0;
  width: 100%;
  background-image: url('/assets/images/solutions/industrial/services_background.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: unset;
  border-radius: 0;
}
