@use 'text-display';

.title-badge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-bar-wrapper {
  position: relative;
  width: max-content;
}

.red-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 105%;
  height: 55%;
  border-radius: 4px;
  z-index: -1;
  background: linear-gradient(to right, #ed1c24, #871015);
}

.subtitle {
  margin-top: 2vh;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
