@use 'text-display';

.title-badge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &.align-left {
    align-items: flex-start;
  }
}

.title-bar-wrapper {
  position: relative;
  width: fit-content;
  max-width: 100%;
  text-align: center;
  z-index: 0;
}

.red-bar {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 45%;
  border-radius: 4px;
  z-index: -1;
  background: linear-gradient(to right, #ed1c24, #871015);
}

.subtitle {
  margin-top: clamp(1rem, 3vh, 2rem);
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: clamp(2rem, 5vh, 4rem);
  max-width: 65ch;
  margin-inline: auto;
}
