@use 'text-display';

.title-badge-wrapper {
  width: max-content;
  padding: 0;
  margin: 0;
  position: relative;
  border: 1px solid transparent;
  z-index: 0;
}

.ldisplay {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2; // text above bar
}

.red-bar {
  width: 105%;
  height: 55%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 4px;
  z-index: -1; // bar below text
  background: linear-gradient(to right, #ed1c24, #871015);
}
