<section class="news-grid-section">
    <div class="section-header flex-header">
      <section-header title="INDUSTRIAL NEWS"></section-header>
      <a href="#" class="view-all">View All <i class="bi bi-arrow-right"></i></a>
    </div>

    <div class="news-grid">
      @for (item of cards; track $index) {
        <div class="news-card">
          <div class="card-image" [style.background-image]="'url(' + item.img + ')'">
            <div class="hover-overlay">
              <button class="read-more-btn">READ MORE</button>
            </div>
          </div>
          <div class="card-content">
            <div class="date">
              <span class="category"><i class="bi bi-tag"></i> Industrial</span>
              <span class="separator">|</span>
              <i class="bi bi-calendar"></i> {{ item.date }}
            </div>
            <h4>{{ item.title }}</h4>
            <p>{{ item.desc }}</p>
            <!-- <a href="#" class="read-more">Read Article <i class="ph ph-arrow-right"></i></a> -->
          </div>
        </div>
      }
    </div>
  </section>