.decor-glow-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

/* RIGHT GLOW */
.decor-blur-right {
  position: absolute;
  width: clamp(280px, 40vw, 760px);
  aspect-ratio: 1 / 1;

  right: 50%;
  top: 20%;
  transform: translateX(100%);

  background: #cc181e;
  opacity: 0.1;
  filter: blur(clamp(60px, 8vw, 120px));
  border-radius: 50%;
  pointer-events: none;
}

/* LEFT GLOW */
.decor-blur-left {
  position: absolute;
  width: clamp(360px, 50vw, 960px);
  aspect-ratio: 1 / 1;

  left: 60%;
  top: -5%;
  transform: translateX(-145%);

  background: #cc181e;
  opacity: 0.1;
  filter: blur(clamp(80px, 10vw, 150px));
  border-radius: 50%;
  pointer-events: none;
}
