<section class="section-wrapper">
  <title-badge title="Meet our Specialist"></title-badge>
  <br><br>


  <container-box>

    <!-- 3x2 Section-->
    <section class="grid-3x2">
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-file-person"></i>
        </div>
        <p class="cell-title">Paulo Borgoños</p>
        <p class="cell-desc">Industrial Technical Specialist</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-file-person"></i>
        </div>
        <p class="cell-title">Name 2</p>
        <p class="cell-desc">Industrial Technical Specialist</p>
      </div>

      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-file-person"></i>
        </div>
        <p class="cell-title">Name 3</p>
        <p class="cell-desc">Industrial Technical Specialist</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-file-person"></i>
        </div>
        <p class="cell-title">Name 4</p>
        <p class="cell-desc">Industrial Technical Specialist</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-file-person"></i>
        </div>
        <p class="cell-title">Name 5</p>
        <p class="cell-desc">Industrial Technical Specialist</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-file-person"></i>
        </div>
        <p class="cell-title">Name 6</p>
        <p class="cell-desc">Industrial Technical Specialist</p>
      </div>

    </section>
  </container-box>
</section>