$primary500: #870b0f;
$primary400: #be0f16;
$primary300: #ed1c24;
$primary200: #f3686d;
$primary100: #f9b3b6;

$primaryAlpha10: #ed1c231a;
$primaryAlpha50: #ed1c2380;
$primaryAlpha80: #ed1c23cc;

$secondary100: #f4f4f4;
$secondary200: #dbdbdb;
$secondary300: #a9a9a9;
$secondary400: #727272;
$secondary500: #424242;

$secondaryAlpha5: #f4f4f40d;
$secondaryAlpha10: #f4f4f41a;
$secondaryAlpha50: #f4f4f480;

$accent100: #c3daf5;
$accent100: #86b5ec;
$accent100: #4a90e2;
$accent100: #1565c0;
$accent100: #134075;

$accentAlpha10: #4a90e21a;
$accentAlpha10: #4a90e280;

$neutral100: #ffffff;
$neutral200: #e8e8e8;
$neutral300: #d2d2d2;
$neutral400: #bbbbbb;
$neutral500: #a4a4a4;
$neutral600: #8e8e8e;
$neutral700: #777777;
$neutral800: #606060;
$neutral900: #4a4a4a;
$neutral1000: #000000;

$neutralAlpha10: #0000001a;
$neutralAlpha50: #00000080;

/* -- Figma Colors -- */

$container: #130d0d;

$primary: rgba(237, 28, 36, 1);
$primarydark: rgba(135, 11, 15, 1);
$secondary: rgba(169, 169, 169, 1);
$neutral: rgba(66, 66, 66, 1);
$neutraldark: rgba(22, 22, 23, 0.8);
$white: rgba(244, 244, 244, 1);
$redghost: rgba(237, 28, 36, 0.1);
