<section class="section-wrapper">
  <title-badge title="Partnerships"></title-badge>

  <p class="text-md subtitle">
    The country partnership strategy (CPS) or PPP supports its plan to create jobs for youth,
    enhances ongoing investment reforms, and improves infrastructure in critical areas, such as
    energy, transport, urban services and water.
  </p>

  <container-box>
    <header class="main-header">
      <h1>Country Partnership Strategy (CPS)</h1>
    </header>
    <p class="text-md subtitle">
      The partnership focuses on placing people at the heart of development by creating skills that
      will allow youth to secure better jobs and wages, and then on companies, the main creators of
      these jobs. The strategy combines physical investments with knowledge products to target
      emerging issues such as urbanization, water scarcity, climate change, emission controls,
      internet connectivity, vocational training, and the development of capital markets.
    </p>

    <!-- 3x3 Section-->
    <section class="grid-3x3">
      <div class="cell">
        <img
          src="assets/images/aboutus/partnership/8aa5acd9fbcb346a6a38b183b1f0baaf18b912f0.png"
          alt=""
        />
        <p>Mechatronics Robotics Society of the Philippines</p>
      </div>
      <div class="cell">
        <img
          src="assets/images/aboutus/partnership/494ab21801a824be50e0962bceb841e3736018a2.png"
          alt=""
        />
        <p>Pambansang Samahan ng Inhinyerong Mekanikal</p>
      </div>
      <div class="cell">
        <img
          src="assets/images/aboutus/partnership/83ce2ff6eac1c4c0f64278e6ce4be980eb06ff6c.png"
          alt=""
        />
        <p>Accrediting Agency of Chartered Colleges and Universities in the Philippines</p>
      </div>
      <div class="cell">
        <img
          src="assets/images/aboutus/partnership/39b50b59b1a653744e9ba8b26efbe32b7bc84fa3.png"
          alt=""
        />
        <p>Philippine Society of Mechanical Engineer</p>
      </div>
      <div class="cell">
        <img
          src="assets/images/aboutus/partnership/fb7761e99dab98b30323e2b6a94b3306b496f72a.png"
          alt=""
        />
        <p>Philippine Society of Mechanical Engineer</p>
      </div>
      <div class="cell">
        <img
          src="assets/images/aboutus/partnership/ce04c72f88b9ed1e9e091697124d0d67953a40ee.png"
          alt=""
        />
        <p>TESDA - Regional Technical Education and Skills Development Committee</p>
      </div>
      <div class="cell">
        <img
          src="assets/images/aboutus/partnership/04d84da5e2a8c92f27aff6c33d81a08db2156afb.png"
          alt=""
        />
        <p>Philippine Instrumentation and Control Society</p>
      </div>
      <div class="cell">
        <img
          src="assets/images/aboutus/partnership/18d3b2ec68a194e8f7d3fb64b7f5ecc29ce3c2b2.png"
          alt=""
        />
        <p>Philippine Association of State Universities and Colleges</p>
      </div>
    </section>
  </container-box>
</section>
