<main-header></main-header>
<main style="width: 100%; margin: 0; padding: 0; position: absolute; top: 0; left: 0;">
  <!-- Background -->
  <div style="width: 100%; padding: 0; margin: 0">
    <img src="assets/images/home/TopBG.png" style="width:100%; display: block;">
  </div>

  <div class="headline">
    <p class="xxldisplay" style="margin:0 0 2vh 0; text-wrap:inherit;">RELIABLE PARTNER AND SOLUTION PROVIDER</p>
    <p class="largeEmphasizedTitle"  style="margin:0;">The leading industrial and educational solutions provider in the Philippines</p>
  </div>

  <div style="position: absolute; z-index: 0;"><img src="assets/images/home/2ndBG.png" style="width: 100%;"></div>
  <div style="height: max-content; width: 100%;">
      <div class="center">
        <div class="centermain">
            <div class="centervideo video-container">
                <video id="myVideo" preload="none" poster="assets/images/home/tumbnail.png">
                    <source src="assets/videos/HytecMainVideo.mp4" type="video/mp4">
                </video>
                <div class="circle-play" id="playButton">
                  <svg viewBox="0 0 512 512" class="play-icon">
                    <circle cx="256" cy="256" r="240" fill="url(#grad)" />
                    <polygon points="200,150 380,256 200,362" fill="white" opacity="0.9" />
                    <defs>
                      <radialGradient id="grad" cx="50%" cy="50%" r="50%">
                        <stop offset="0%" stop-color="rgba(255,255,255,0.6)" />
                        <stop offset="100%" stop-color="rgba(255,0,0,0.4)" />
                      </radialGradient>
                    </defs>
                  </svg>
                </div>
            </div>

            <div class="centerdesc">
              <div style="width: max-content;height: min-content;">
                <div style="position:relative; display:block; width:fit-content; height:fit-content;">
                  <p class="ldisplay" style="margin:0; padding:0; z-index:2;position: relative;">WHO WE ARE</p>
                  <div style="
                    bottom:1.8vh;
                    width:210px;
                    height:4vh;
                    position:absolute;
                    z-index:0;
                    border-radius: 1vh;
                    background:linear-gradient(to right,#ED1C24,#871015);
                  "></div>
                </div>
              </div>
              <p class="mediumTitle" style="white-space: pre-line;">
                  We started this journey with only the desire to build a better industry and future. Now, the responsibility we have on our hands is more than what we have ever imagined and we are prepared to face the challenges no matter how heavy or difficult it may be.
                  <br><br>The company's own endeavors are not the only ideals held important. Hytec Power Inc wants to ensure that the help provided serves to inspire Filipino to strive for their own goals in developing a prosperous and globally competitive society.
                  <br><br>We took the opportunity to provide further assistance to educational institutions in making their programs relevant with industry needs. Providing new technologies, pioneering new industrial processes, and 21st didactic practices.
              </p>
              <button class="mediumEmphasizedTitle readmore">
                Read More
              </button>
            </div>
        </div>
        <img src="assets/images/home/Container.png" style=" position:absolute; left:-4vw; top:-9.5vh; width:15vw;">
        <img src="assets/images/home/Subtract.png" style="position:absolute; right:-3.8vw; top:-1vh; opacity:80%; z-index:99; width:18vw;">
        <img src="assets/images/home/Large.png" style="position:absolute;  left:-7vw; bottom:-7.5vh; width:40vw;">
      </div>
  </div>

  <div class="achievement">
    <div class="achievementMain">
      <div>
        <p class="xxldisplay" style="color:#ED1C24">30+</p>
        <p class="smallEmphasizedHeadline">Years of Excellence</p>
      </div>
      <div>
        <p class="xxldisplay" style="color:#ED1C24">150+</p>
        <p class="smallEmphasizedHeadline">Industrial Partners</p>
      </div>
      <div>
        <p class="xxldisplay" style="color:#ED1C24">150+</p>
        <p class="smallEmphasizedHeadline">Academe Partners</p>
      </div>
      <div>
        <p class="xxldisplay" style="color:#ED1C24">100%</p>
        <p class="smallEmphasizedHeadline">Commitment to service</p>
      </div>
    </div>
  </div>
 <div style="width:100%; height:max-content; display: flex; justify-content: center; align-items: center;padding: 10vh 0;">
    <img src="assets/images/home/Ray.png" style="position:absolute; width:60vw; top:205vh; left:-20vw; z-index:2;">


    <div class="content">
      <div class="contentTitle">
        <div style="width:293px;height: 50px;padding:0;margin:0;">
          <p class="ldisplay" style="color:white; margin:0; padding:0;text-wrap: nowrap;z-index:2;position:relative;">LATEST HPI NEWS</p>
          <div style="
            width:inherit;
            height:4vh;
            top:8vh;
            position:absolute;
            border-radius: 1vh;
            z-index: 1;
            background:linear-gradient(to right,#ED1C24,#871015);
          "></div>
        </div>
      </div>
      <div style="display:flex;height:max-content; width: 80vw;justify-content: space-between;">
        <div style="height:max-content; width:29vw; color:white;margin-bottom:5vh;">
          <img src="assets/images/home/Updates.png" style="height:auto;width: 100%;border-radius: 15px;" alt="">
          <p class="largeEmphasizedTitle" style="margin-top:1vh;">Philippine VEX Robotics National Championship Representative - QCU</p>
          <p class="mediumBody" style="margin-top:1vh;">May 26, 2025</p>
          <hr>
          <div class="largeBody mainNews">
            Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
            Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
            Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
            Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
          </div>
          <div style="width:100%;height: max-content;margin-top:1vh;display: flex;align-self:end;justify-content: end;">
            <button class="mediumEmphasizedTitle readmore" style="float:right;">
              Read More
            </button>
          </div>
        </div>

        <div style="height:max-content; max-width:48.3vw; display:flex;flex-direction: column;justify-content: space-between;">

          <div style="display:flex;  width: auto; height:27vh;  margin-bottom:2vh; color:white">
            <div style="height: max-content;width: 27vw;">
              <img src="assets/images/home/News.png" style="width: 100%; height: 100%;" alt="">
            </div>
            <div style="width:65%;margin: 0 0.8vw;height: 100%;display: flex;flex-direction: column;justify-content: space-evenly;">
              <div style="height: max-content;align-self: start;">
                <p class="mediumEmphasizedTitle" style="margin:1.5vh 0 0.5vh 0;">HPI Launch The Humanoid Robot: Pepper</p>
                <p class="mediumBody" style="margin:0 0 1vh 0;">May 26, 2025</p>
              </div>
              <hr style="width:100%;margin:0;padding:0;">
              <div class="mediumBody news">
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
              </div>
              <div style="width:100%;height: max-content;margin-top:0.8vh;display: flex;align-self:end;justify-content: end;">
                <button class="smallEmphasizedTitle smallreadmore">
                  Read More
                </button>
              </div>
            </div>
          </div>
          <div style="display:flex;  width: auto; height:27vh;  margin-bottom:2vh; color:white">
            <div style="height: max-content;width: 27vw;">
              <img src="assets/images/home/News.png" style="width: 100%; height: 100%;" alt="">
            </div>
            <div style="width:65%;margin: 0 0.8vw;height: 100%;display: flex;flex-direction: column;justify-content: space-evenly;">
              <div style="height: max-content;align-self: start;">
                <p class="mediumEmphasizedTitle" style="margin:1.5vh 0 0.5vh 0;">HPI Launch The Humanoid Robot: Pepper</p>
                <p class="mediumBody" style="margin:0 0 1vh 0;">May 26, 2025</p>
              </div>
              <hr style="width:100%;margin:0;padding:0;">
              <div class="mediumBody news">
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
              </div>
              <div style="width:100%;height: max-content;margin-top:0.8vh;display: flex;align-self:end;justify-content: end;">
                <button class="smallEmphasizedTitle smallreadmore">
                  Read More
                </button>
              </div>
            </div>
          </div>
          <div style="display:flex;  width: auto; height:27vh;  margin-bottom:2vh; color:white">
            <div style="height: max-content;width: 27vw;">
              <img src="assets/images/home/News.png" style="width: 100%; height: 100%;" alt="">
            </div>
            <div style="width:65%;margin: 0 0.8vw;height: 100%;display: flex;flex-direction: column;justify-content: space-evenly;">
              <div style="height: max-content;align-self: start;">
                <p class="mediumEmphasizedTitle" style="margin:1.5vh 0 0.5vh 0;">HPI Launch The Humanoid Robot: Pepper</p>
                <p class="mediumBody" style="margin:0 0 1vh 0;">May 26, 2025</p>
              </div>
              <hr style="width:100%;margin:0;padding:0;">
              <div class="mediumBody news">
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
                  Lorem ipsum dolor sit amet consectetur. Congue quis sagittis leo odio molestie pellentesque in.
              </div>
              <div style="width:100%;height: max-content;margin-top:0.8vh;display: flex;align-self:end;justify-content: end;">
                <button class="smallEmphasizedTitle smallreadmore">
                  Read More
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-section" [style.background-image]="currentBackgroundStyle">
    <div class="carousel-container">

      <div class="testimonialTitle">
        colleges and universities testimonials
      </div>
      <!-- Looping through cardData -->
      <div
        class="card"
        *ngFor="let item of cardData; let i = index"
        [ngClass]="cardPositions[i]">

        <!-- LOGO SECTION -->
        <div class="card-logo">
          <!-- Siguraduhing tama ang path sa assets folder mo -->
          <img [src]="item.logo" alt="Partner Logo">
        </div>

        <!-- QUOTE ICON (Galing sa HTML mo) -->
        <div class="xldisplay">"</div>

        <!-- TEXT CONTENT -->
        <div class="card-text largeTitle">
          <div class="card-main-text">
            {{ item.text }}
          </div>
        </div>

        <div class="card-company largeEmphasizedTitle">
          <div class="card-main-company">
            {{ item.company }}
          </div>
        </div>
      </div>

      <!-- BUTTONS -->
      <button class="nav-btn prev-btn" (click)="prev()">&#10094;</button>
      <button class="nav-btn next-btn" (click)="next()">&#10095;</button>

      <!-- INDICATORS -->
      <div class="indicators">
        <div
          class="dot"
          *ngFor="let item of cardData; let i = index"
          [class.active]="cardPositions[i] === 'active'"
          (click)="goToCard(i)">
        </div>
      </div>

    </div>
  </div>

  <div class="beMore">
    <div class="beMore-container">
      <div class="beMore-main">
        <div class="beMore-title ldisplay">
          BE MORE UPDATED
        </div>
        <div class="beMore-content">
          <div class="facebook-mobile">

            <div class="fb-wrapper">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhytecpowerincorporated%2F&tabs=timeline&width=591&height=1269&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="591" height="1266" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>

          </div>
          <div class="other-socmed">
            <div class="youtube">
              <iframe width="939" height="507" src="https://www.youtube.com/embed/cTTRrq_NlUs?si=IZbqa1s4ZGwFFUtH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="instagram">
              <a href="https://www.instagram.com/hytecpowerinc_official" target="_blank" rel="noopener noreferrer" class="cursor"><img src="assets/images/home/instagram.png"></a>
            </div>
            <div class="linkedin">
              <a href="https://www.linkedin.com/company/hytec-power" target="_blank" rel="noopener noreferrer" class="cursor"><img src="assets/images/home/linkedin-social.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<main-footer></main-footer>

  <script>
      const video = document.getElementById('myVideo');
      const playButton = document.getElementById('playButton');

      playButton.addEventListener('click', () => {
        video.setAttribute('controls', '');
        video.play();
        playButton.style.display = 'none';
      });

      video.addEventListener('pause', () => {
        playButton.style.display = 'block';
      });


      let currentSlide = 0;
      const track = document.querySelector('.carousel-track');
      const indicators = document.querySelectorAll('.indicator');
      const totalSlides = 3;
      let autoplayInterval;

      function updateCarousel() {
          const offset = -currentSlide * 100;
          track.style.transform = `translateX(${offset}%)`;

          indicators.forEach((indicator, index) => {
              indicator.classList.toggle('active', index === currentSlide);
          });
      }
      function nextSlide() {
          currentSlide = (currentSlide + 1) % totalSlides;
          updateCarousel();
          resetAutoplay();
      }

      function previousSlide() {
          currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
          updateCarousel();
          resetAutoplay();
      }

      function goToSlide(index) {
          currentSlide = index;
          updateCarousel();
          resetAutoplay();
      }
  </script>
</main>
