<section class="section-wrapper">
  <title-badge
    title="Mission and Vision"
    subtitle="Guiding our commitment to excellence in industrial and educational solutions.
"
  ></title-badge>

  <div class="mv-container">
    <!-- Mission -->
    <div class="mv-card left">
      <div class="icon-wrapper">
        <i class="bi bi-bullseye"></i>
      </div>
      <h2>Mission</h2>
      <p>
        To be the <strong>Most Reliable Global Partner</strong> in providing all Customers with
        excellent services and innovative solutions.
      </p>
      <p>
        To continuously align education and training with state-of-the art learning innovations that
        match industry needs.
      </p>
    </div>

    <!-- Divider -->
    <div class="mv-divider">
      <app-timeline-line variant="faded" customClass="mv-line"></app-timeline-line>
      <app-timeline-dot [size]="14" [withBorder]="false" customClass="mv-dot"></app-timeline-dot>
    </div>

    <!-- Vision -->
    <div class="mv-card right">
      <div class="icon-wrapper">
        <i class="bi bi-eye"></i>
      </div>
      <h2>Vision</h2>
      <p>
        "Hytec Power, Inc. envisions to be the
        <strong>FIRST-IN-MIND SERVICE-LED COMPANY</strong> for intelligent learning innovations and
        industry solutions."
      </p>
      <p>
        Hytec Power, Inc, serves as the bridge in addressing Global Workforce qualifications with
        innovative learning solutions.
      </p>
    </div>
  </div>
</section>
