<section class="section-wrapper">
  <title-badge title="Our product and services"></title-badge>
  <br><br>


  <container-box>

    <!-- 3x3 Section-->
    <section class="grid-3x3">
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-person-video3"></i>
        </div>

        <p class="cell-title">Training</p>
        <p class="cell-desc">One-step solution for accurate bolt joint assembly eliminates over and under torqueing
          during maintenance activities and maximizes tool capabilities.</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-headset"></i>
        </div>
        <p class="cell-title">After Sales</p>
        <p class="cell-desc">We offer the solutions and expertise to make your job faster, more accurate, and more
          efficient for workshops and on-site environment.</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-gear-wide"></i>
        </div>
        <p class="cell-title">Customer/Technical Support
        </p>
        <p class="cell-desc">We offer the solutions and expertise to make your job faster, more accurate, and more
          efficient for workshops and on-site environment.</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-flask"></i>
        </div>
        <p class="cell-title">Complete Lab Set-up</p>
        <p class="cell-desc">We provide high-performance multiple coating technologies focused on corrosion prevention,
          fire, cathodic protection, insulation, and sealing technology.</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-people-fill"></i>
        </div>
        <p class="cell-title">Partnership</p>
        <p class="cell-desc">One-step solution for accurate bolt joint assembly eliminates over and under torqueing
          during maintenance activities and maximizes tool capabilities.</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-mortarboard-fill"></i>
        </div>
        <p class="cell-title">Educational Tour</p>
        <p class="cell-desc">One-step solution for accurate bolt joint assembly eliminates over and under torqueing
          during maintenance activities and maximizes tool capabilities.</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-pc-display"></i>
        </div>
        <p class="cell-title">Flexible Learning Solution</p>
        <p class="cell-desc">We provide high-performance multiple coating technologies focused on corrosion prevention,
          fire, cathodic protection, insulation, and sealing technology.</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-person-workspace"></i>
        </div>
        <p class="cell-title">E-Learning Contents</p>
        <p class="cell-desc">One-step solution for accurate bolt joint assembly eliminates over and under torqueing
          during.</p>
      </div>
      <div class="cell">
        <div class="icon-wrapper">
          <i class="bi bi-braces"></i>
        </div>
        <p class="cell-title">Software Solutions</p>
        <p class="cell-desc">One-step solution for accurate bolt joint assembly eliminates over and under torqueing
          during maintenance activities and maximizes tool capalities.</p>
      </div>
    </section>
  </container-box>
</section>