@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --font-default: 'Poppins', sans-serif;
}

body, html, input, textarea, select, button, h1, p {
  font-family: var(--font-default);
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}
