<title-badge title="Our President and CEO"></title-badge>

<p class="text-md about_us-subtitle">The man behind the HPI success.</p>
<container-box variant="dark" class="our-president-ceo-container">
  <div class="president-content-wrapper">
    <div class="decor-quote header-lg">“</div>
    <div class="president-layout">
      <div class="left-side text-md">
        Engr. Eric Jude S. Soliman or EJSS is the Founder, President, and CEO of Hytec Power
        Incorporated, one of the leadingproviders of educational and industrial solutions in the
        country. A visionary man, EJSS founded the company from scratch in 1994 and lead its
        stimulating growth for more than 27 years. the venues that were fully enjoyed by the under
        privileged children. <br /><br />
        He devoted his life serving the needs of his clients, both internal and external. With his
        powerful dedication to the company's vision and mis-sion, EJSS guided HPI to being
        dependable in providing industrial solutions in order to achieve safety, productivity and
        efficiency. Eventually, HPI expanded its services to industry by try-ing to solve the roots
        of skills mismatch HPI engaged into educational innovations in learning and training, to
        help our country prepare job-ready 21st century workers and professionals.
      </div>

      <div class="right-side">
        <div class="ceo">
          <img src="assets/images/aboutus/ceo/CEO.svg" alt="" />
        </div>
      </div>
    </div>

    <div class="achievements-grid">
      <div class="achievement-box">Licensed Mechanical Engineer</div>
      <div class="achievement-box">Leadership, Legacy Icon, and CEO of the Year Awardee</div>
      <div class="achievement-box">Conferred as ASEAN Engineer in 2015</div>
      <div class="achievement-box">Former Chairman of MRSP Convention</div>
    </div>
  </div>
</container-box>

<container-box class="attributes-container">
  <div class="attributes-content">
    <div class="attribute-item">
      <img src="assets/images/aboutus/ceo/goal.png" alt="" />
      <div class="message">
        <p class="header-sm">Personal Goals</p>
        <p class="text-sm about_us-subtitle">
          To believe that everyone has the potential to be a trailblazer & innovator and help
          achieve their dreams.
        </p>
      </div>
    </div>
    <div class="attribute-item">
      <img src="assets/images/aboutus/ceo/desire.png" alt="" />
      <div class="message">
        <p class="header-sm">Burning Desire</p>
        <p class="text-sm about_us-subtitle">
          Align Education and Industry-bridge the SKILLS GAP to have readily available jobs for
          everyone.
        </p>
      </div>
    </div>
    <div class="attribute-item">
      <img src="assets/images/aboutus/ceo/key.png" alt="" />
      <div class="message">
        <p class="header-sm">Key to Success</p>
        <p class="text-sm about_us-subtitle">
          Be in love of with what you do. When you love what you do "working is not working".
        </p>
      </div>
    </div>
  </div>
</container-box>
