<section class="section-wrapper">
  <title-badge
    title="Our Journey"
    subtitle="From humble beginnings to becoming the Philippines' leading provider of industrial and
    educational solutions"
    class="fade-up-element"
  ></title-badge>
  <div class="timeline-container">
    <!-- ˚◡˚ Decor ˚◡˚ -->
    <div class="timeline-line"></div>

    <div class="timeline-events">
      <div
        *ngFor="let event of events; let i = index"
        class="timeline-item"
        [ngClass]="event.position"
      >
        <container-box>
          <div class="timeline-content-layout">
            <div class="text-md timeline-year">{{ event.year }}</div>
            <div class="text-lg">{{ event.title }}</div>
            <div class="text-md timeline-description">{{ event.description }}</div>
          </div>
        </container-box>

        <!-- ˚◡˚ Decor ˚◡˚ -->
        <div class="timeline-dot"></div>
      </div>
    </div>
  </div>

  <section class="section-wrapper">
    <title-badge
      title="Gain Exclusive Distributorship"
      subtitle="Continuing to shape the future of technical education with cutting-edge technology and
      strategic partnerships."
      class="fade-up-element"
    ></title-badge>

    <container-box class="distributorship-container">
      <div class="logo-grid">
        @for (logo of logos; track logo.name) {
          <a [href]="logo.url" target="_blank" class="logo-item">
            <img [src]="logo.src" [alt]="logo.name" />
          </a>
        }
      </div>
    </container-box>
  </section>
</section>
