<header>
  <img src="assets/icons/main-header/hytec-logo.svg" class="header-image">

  <nav>
    <ul>
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active-link" class="anchor">HOME</a>
      </li>

      <li class="nav-item  has-dropdown">
        <a routerLink="/solutions" class="anchor">
          SOLUTIONS
          <span class="dropdown-arrow">&#9662;</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a routerLink="/solutions/educational">
              <img src="assets/icons/main-header/educational-solutions.svg">
              <h1>EDUCATIONAL SOLUTIONS</h1>
              <span></span>
              <p>Tie your education to employment.</p>
            </a>
          </li>

          <li class="dropdown-item">
            <a routerLink="/solutions/industrial">
              <img src="assets/icons/main-header/industrial-solutions.svg">
              <h1>INDUSTRIAL SOLUTIONS</h1>
              <span></span>
              <p>Provides skills-based industrial solutions.</p>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a routerLink="/news-and-updates" class="anchor">NEWS & UPDATES</a>
      </li>

      <li class="nav-item">
        <a routerLink="/trainings-and-events" class="anchor">TRAININGS & EVENTS</a>
      </li>

      <li class="nav-item has-dropdown">
        <a routerLink="/company" class="anchor">
          COMPANY
          <span class="dropdown-arrow">&#9662;</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a routerLink="/about-us">
              ABOUT US
            </a>
          </li>

          <li class="dropdown-item">
            <a routerLink="/company/sponsorship">
              SPONSORSHIP
            </a>
          </li>

          <li class="dropdown-item">
            <a routerLink="/company/careers">
              CAREERS
            </a>
          </li>

          <li class="dropdown-item">
            <a routerLink="/company/team">
              TEAM
            </a>
          </li>

          <li class="dropdown-item">
            <a routerLink="/company/project-and-case-studies">
              PROJECT & CASE STUDIES
            </a>
          </li>

          <li class="dropdown-item">
            <a routerLink="/company/our-contacts">
              OUR CONTACTS
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="search-bar">
    <input type="text" placeholder="Search here...">
    <div class="search-button">
      <img src="assets/icons/main-header/magnifying-glass.svg">
    </div>
  </div>
</header>
