header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  padding: 1.5rem 0;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

header .header-image {
  height: 3.75rem;
  margin-left: 9.375rem;
}


/* NAVIGATION ITEMS */
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 3.125rem;
}

header nav ul .nav-item {
  position: relative;
}

header nav ul .nav-item .anchor {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

header nav ul .nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-wrap: nowrap;

  & .dropdown-arrow {
    font-size: 1rem;
  }

  &:hover {
    color: #ce2127;
  }
}



/* NAVIGATION ITEMS WITH DROPDOWN MENUS */
.has-dropdown {
  &:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

header nav ul .nav-item ul {
  gap: 0.5rem;
}
.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-width: 18rem;
  border-radius: 10px;
  padding: 1rem;
  top: 2.5rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}
header nav ul .nav-item .dropdown-menu .dropdown-item a {
  color: #454545;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;

  & img {
    width: 1.25rem;
    height: 1.25rem;
  }

  & h1 {
    font-size: 1rem;
    margin-left: 1.25rem;
    font-weight: 500;
  }

  & p {
    font-size: 0.875rem;
    margin-left: 1.25rem;
    color: #727272;
  }

  &:hover {
    color: #ce2127;
    background-color: #E8E8E8;
  }
}

/* SEARCH BAR */
.search-bar {
  background-color: #F4F4F4;
  border: 2px solid #F4F4F4;
  display: flex;
  height: calc(2.65rem - 9px);
  border-radius: 10rem;
  width: 28rem;
  justify-items: center;
  align-items: center;
  padding: 4.5px;
  margin-left: auto;
  margin-right: 9.375rem;

  &:focus-within {
    border: 2px solid #ED1C24;
  }
}

.search-bar input {
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  border: 0px solid #454545;
  margin-left: 0.75rem;
  background-color: #F4F4F4;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  &:focus, &:active  {
  outline: none;
  border: none;
  }
}

.search-bar .search-button {
  height: 100%;
  width: 2.25rem;
  background-color: #ED1C24;
  border-radius: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;

  & img {
    width: 1.25rem;
    height: 1.25rem;
  }
}
